<div class="card" *ngIf="record" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{record.name}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Details</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
    </div>
</div>

<div *ngIf="!record">
    <div class="alert alert-danger">
        <p class="card-text">No profile selected.</p>
    </div>
</div>